.navbar {
z-index: 1000;
}
.navbar-inverse, .dropdown-menu {
    background-color: #000000 !important
  }
  
    .navbar-inverse a {
      color: white;
    }
  
      .navbar-inverse a:hover {
        color: #ffffff;
        font-weight: bold;
        background-color: #687885;
      }
  
    .navbar-inverse .navbar-brand {
      color: white;
    }
  
  .navbar-brand {
    padding: 0px 25px;
  }
  
    .navbar-brand > img {
      display: block;
      left: 0px;
      position: absolute;
      top: 0px;
    }
