<!-- https://www.concretepage.com/angular-2/angular-2-4-named-router-outlet-popup-example -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top navbar-inverse">
    <a class="navbar-brand" href="#"><img alt="Brand" src="{{baseURL}}images/logo.png" height="50"></a>
    <a routerLink="" class="navbar-brand">Brownbag</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" (click)="navbarCollapsed = !navbarCollapsed"
            [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="selected">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="counter" routerLinkActive="selected" *ngIf="userService.isInRole('Developer') | async">Counter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="fetch-data" routerLinkActive="selected" *ngIf="userService.isInRole('Developer') | async">Fetch Data</a>
          </li>
        <li ngbDropdown class="d-inline-block" *ngIf="userService.isInRole('Administrator') | async">
          <a class="nav-link" id="Management" ngbDropdownToggle>Blog Management</a>
          <div ngbDropdownMenu aria-labelledby="Management">
            <a class="nav-link" routerLink="blog" routerLinkActive="selected">Blog</a>
            <a class="nav-link" routerLink="post" routerLinkActive="selected">Post</a>
            <a class="nav-link" routerLink="blogview" routerLinkActive="selected">Blog View</a>
            <a class="nav-link" routerLink="blogviewfk" routerLinkActive="selected">Blog FK View</a>
            <a class="nav-link" routerLink="users" routerLinkActive="selected">User</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
